.elementor-818 .elementor-element.elementor-element-6a56224c > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-818 .elementor-element.elementor-element-6a56224c{margin-top:0px;margin-bottom:0px;padding:0px 0px 0px 0px;}.elementor-bc-flex-widget .elementor-818 .elementor-element.elementor-element-455a2e69.elementor-column .elementor-column-wrap{align-items:flex-start;}.elementor-818 .elementor-element.elementor-element-455a2e69.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap{align-content:flex-start;align-items:flex-start;}.elementor-818 .elementor-element.elementor-element-455a2e69 > .elementor-element-populated{margin:0px 0px 0px 0px;--e-column-margin-right:0px;--e-column-margin-left:0px;}.elementor-818 .elementor-element.elementor-element-455a2e69 > .elementor-element-populated > .elementor-widget-wrap{padding:0px 0px 0px 0px;}.elementor-818 .elementor-element.elementor-element-26df9491 > .elementor-widget-container{margin:0px 0px -20px 0px;}body.elementor-page-818:not(.elementor-motion-effects-element-type-background), body.elementor-page-818 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#ffffff;}@media(max-width:767px){.elementor-818 .elementor-element.elementor-element-6a56224c{margin-top:0px;margin-bottom:30px;padding:0px 0px 0px 0px;}}/* Start custom CSS for section, class: .elementor-element-6a56224c */input#storeLocator__searchBar {
    color: #666;
    padding: .75em;
    height: auto;
    border-width: 1px;
    border-style: solid;
    border-color: #eaeaea;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: none;
    box-sizing: border-box;
    transition: all .2s linear;
    border: none;
    border-bottom: solid 1px;
}
h2.title.space-bottom-3x {
    font-size: 24px!important;
}
div#super-left-panel {
    background: #fff;
}
.store-locator__infobox.is-active, .store-locator__infobox:hover {
    background-color: #ffffff;
   
    text-align: left;
}
.infobox__row {
    padding: 0 0px;
}
.infobox__row.infobox__row--marker {
    display: none;
}
.field-holder .field-holder__icon {
   
    right: -17px!important;
}/* End custom CSS */
/* Start custom CSS */.header-main {
    background: #000;
    position: relative !important;
}

.wpsl-search {
    margin-bottom: 0px;
    padding: 12px 12px 0 12px;
    background: #f4f3f3;
}
table {
 
    border-width: 0px 0 0 0px;
  
}
.filter__row {
    padding: 15px;
    border: 0px solid #e2e2e2;
    border-top-width: 0px !important;
    overflow: hidden;
}
a.infobox__row.infobox__cta.ssflinks {
    display: none!important;
}
.store-locator__infobox {
    padding: 0px!important;
}
.infobox__title {
    font-size: 18px!important;
    font-weight: 500;
    line-height: 1.2;
}
.infobox__body {
    height: auto!important;
}
h2.title.space-bottom-3x {
    font-size: 24px!important;
    display: none!important;
}
.infobox__row.store-address {
    padding-top: 0px!important;
}
.store-locator__infobox {
   
    background-color: #ffffff!important;
}
.store-locator__infobox--main .infobox__cta, .store-locator__infobox--main .infobox__stv {
    border-top-color: #8c8c8c !important;
    color: #fff;
}
.store-locator-map .store-locator__infobox .infobox__inner {
    padding: 15px;
    background: #6d6d6d;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.store-locator-map .store-locator__infobox:before {
    content: '';
    border: 12px solid transparent;
    border-left: 0;
    border-right-color: #6d6d6d!important;
    position: absolute;
    top: 198px;
    left: -12px;
}
.filter__row {
  
    display: none;
}
footer
{
    /*display: none;*/
}
@media only screen and (min-width: 64.063em)
{
    
#super-left-panel {
    height: 890px;
}
    div#super-left-panel {
    background: #fff;
    width: 35%;
}
.large-9 {
    width: 65%!important;
}
}/* End custom CSS */